*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav:first-child img{
    margin-left: 50px;
    margin-top: 30px;
    height: 80%;
}

nav :last-child{
    height: 45px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    padding-left: 80px;
    gap: 90px;
}

.nav-item{
    display: inline;
    font-size: 20px;
    font-family: 'Fredoka',sans-serif;
    font-weight: 400;  
}

.nav-item:hover{
    color: #FE5E35;
    font-weight: 900;
}

.intro-section{
    display:flex ;
    flex-direction: row;
    margin-left: 50px;
}

.left-section{
    display: flex;
    flex-direction:column;    
    gap: 20px   ;
}

.left-section h3{
    font-size: 40px;
    font-family: 'Fredoka',sans-serif;
    font-weight: 400;
    margin-top: 45px;
}

.left-section >h3>img{
    height: 30px;
}

.left-section h1{
    font-size: 80px;
    font-family: 'Fredoka One',sans-serif;
}

.sub-headlines{
    margin-left: 45px;
    margin-top: 15px;
    font-size: 25px;
}

.sub-headlines>h5>img{
    border-radius: 50px;
    background-color: #FE5E35;
    width: 20px;
    height: 20px;
}

.sub-headline{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}

.sub-headline img{
    margin-right: 20px;
}

.text{
    margin-top: 40px;
    color: #b0a6a6;
    width: 75%;
}

.action-btns{
    margin-top: 65px;
}

.action-btn{
    border: 0;
    border-radius: 25px;
    background-color: #FE5E35;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    margin-right: 40px;
}

.discount-content {
    position: absolute;
    top: 23rem;
    right: 26rem;
    z-index: 200;
    background:transparent;
}

.discount-content h4{
    font-size: 10px;
    font-family: 'Fredoka one',sans-serif;
    font-weight: 900;
    text-align: center;
    background: transparent;
    color: #ffffff;
}

.discount-content h1{
    font-size: 35px;
    font-family: 'Fredoka one',sans-serif;
    text-align: center;
    background: transparent;
    color: #ffffff;
}

.headphone-div img:first-child{
    position: relative;
    top: 250px;
    right: 110px;    
    width: 130px;
    z-index: 100;
    background:transparent;
    filter: drop-shadow(-5px 1px 1px #ababab);
}

.headphone-div img:last-child{
    position: relative;
    height: 400px;
    top: -80px;
    right: 80px;
    z-index: OVErlay;
}

.dots
{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 150px;
    margin-left: 30px;
    margin-top: -60px;
    justify-content: space-between;
    border: none;
}

.dot{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
}

.yellow-dot{
    background-color: #fbd104;
}

.tomato-dot{
    background-color: #fe5e35;
}

.black-dot{
    background-color: #1d1d1d;
}

.right-section button{
    margin-left: 32px;
    margin-top: -30px;
    padding: 15px 30px;
}


@media screen and (max-width:700px){
    nav{
        flex-direction: column;
    }
    nav:first-child img{
        align-self: center;
        width: 30%; 
    }
    .icons{
        display: none;
    }
    .nav-items{
        margin-top: 80px;
        padding-left: 50px;
        gap: 120px;
    }
    .intro-section{
        margin-left: 50px;
        margin-top: 10px;
    }
    .left-section{
        flex-direction:column;    
        gap: 20px   ;
    }
    .left-section h3{
        font-size: 30px;
        font-family: 'Fredoka',sans-serif;
        font-weight: 400;
        margin-top: 45px;
    }
    .left-section >h3>img{
        height: 15px;
    }
    .left-section h1{
        font-size: 50px;
    }
    .sub-headlines{
        margin-left: 15px;
        margin-top: 10px;
        font-size: 20px;
    }
    .sub-headlines>h5>img{
        width: 15px;
        height: 15px;
    }
    .sub-headline{
        margin-top: 20px;
        margin-left: 10px;
    }
    .sub-headline img{
        margin-right: 15px;
    }
    .text{
        margin-top: 25px;
        width: 100%;
    }
    .action-btns{
        margin-top: 25px;
    }
    .action-btn{
        font-size: 15px;
        padding: 10px 15px 10px 15px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .right-section{
        mix-blend-mode: multiply;
        margin-left: -90px;
    }
    .discount-content {
        top: 29rem;
        right: 13.5rem;
    }
    .discount-content h4{
        font-size: 18px;
    }
    .discount-content h1{
        font-size: 35px;
    }
    .headphone{
        margin-left: 180px;
    }
    .headphone-div img:first-child{
        top: 200px;    
        left: 140px;
        width: 120px;
    }
    .headphone-div img:last-child{
        height: 330px;
        top: -30px;
        right: 30px;
    }
    .dots
    {
        height: 80px;
        width: 150px;
        margin-left: 240px;
        margin-top: 10px;
    }
    .right-section button{
        margin-left: 250px;
        padding: 10px 25px;
    }
}

